.photo-slider
  max-width: 574px
  overflow: hidden
  @media screen and ( max-width: 767px )
    max-width: none
  &__wrapper
    position: relative
    margin-top: 30px
    display: flex
  &__item
    width: 574px
    height: 382px
    @media screen and ( max-width: 767px )
      width: 100%
    @media screen and ( max-width: 450px )
      height: 220px
    img
      object-fit: contain
      @media screen and ( max-width: 767px )
        width: 100%
        height: 100%
  &-next, &-prev
    position: absolute
    bottom: -50px
    width: 38px
    height: 29px
    left: 52px
    z-index: 1
    cursor: pointer
    transition: all 0.4s
    display: none
    &:hover
      opacity: 0.4
      transition: all 0.4s
    &::before
      content: ""
      width: 38px
      height: 29px
      display: block
      background-image: url(/app/build/img/pagination-arrow.png)
      background-repeat: no-repeat
      background-size: cover
      position: absolute
      top: 0
      left: 0
  &-prev
    left: 0px
    bottom: -52px
    &::before
      transform: rotate(180deg)
.photo-slider.swiper-container-initialized
  .photo-slider-next, .photo-slider-prev
    display: block
.photo-slider.swiper-container-initialized
  .photo-slider-next
    @media screen and ( max-width: 767px )
      right: calc(50% - 45px)
      left: auto
.photo-slider.swiper-container-initialized
  .photo-slider-prev
    @media screen and ( max-width: 767px )
      left: calc(50% - 45px)
